@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}

body {
  background-color: #f3f4f6; 
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}
